<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../static/about.css">
        <link rel="stylesheet" href="../static/header.css">
    </head>

    <body>

    <div class="header">
        <a href="/"><div>FLASHCARDS</div></a>
        <a href="/about"><div>About</div></a>
    </div>
    
    <div class="main-div-container">
        <p>About the project</p>
        <hr class="styled-hr">
        <p>
        This is a simple flash cards web app for learning foreign vocabulary.
        Particularly, the content is the words I did not or do not know while
        reading Harry Potter and Sorcerer's Stone (American edition). 
        </p>

        <p>How it works</p>
        <hr class="styled-hr">
        <ul>
        <li>Select a deck on the menu page</li>
        <li>Flip cards to see translations</li>
        <li>Use Next / Previous to navigate</li>
        </ul>

    </div>

    </body>

</html>