<!DOCTYPE html>

<html>
    <head>
        <title>Cards</title>
        <link rel="stylesheet" href="../static/main-card.css">
        <link rel="stylesheet" href="../static/header.css">
    </head>

    <body>

    <div class="header">
        <a href="/"><div>FLASHCARDS</div></a>
        <a href="/about"><div>About</div></a>
    </div>
    
    <div class="main-div-container">
        <div class="card">
            The Word
        </div>

        <div class="buttons-container">
            <button class="prev-button">Previous Word</button>
            <button class="turn-button">Turn Over</button>
            <button class="next-button">Next Word</button>
        </div>
    </div>

    </body>

</html>