<!DOCTYPE html>

<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="../static/menu.css">
        <link rel="stylesheet" href="../static/header.css">
    </head>

    <body>

    <div class="header">
        <a href="/"><div>FLASHCARDS</div></a>
        <a href="/about"><div>About</div></a>
    </div>
    
    <div class="main-div-container">
        <h2 class="choose-h">Choose a deck.</h2>
        <p class="pick-h">Pick a set and start training.</p>
        <button class="pick-button">Pick a Chapter</button>
        <a href="/cards"><button class="shuffle-button">Shuffle All</button></a>
    </div>

    </body>

</html>